<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!--01010000 01001111 01010100 01010100 01000101 01010010  01000001 01001110 01000100  01010111 01000101 01000010 
  ___  ___ _____ _____ ___ ___     _   _  _ ___   __      _____ ___ 
 | _ \/ _ \_   _|_   _| __| _ \   /_\ | \| |   \  \ \    / / __| _ )
 |  _/ (_) || |   | | | _||   /  / _ \| .` | |) |  \ \/\/ /| _|| _ \
 |_|  \___/ |_|   |_| |___|_|_\ /_/ \_\_|\_|___/    \_/\_/ |___|___/     
 
 01010000 01001111 01010100 01010100 01000101 01010010  01000001 01001110 01000100  01010111 01000101 01000010 -->

<!-- Hello Google :) -->
<title>{{headline}} | {{site_name}}</title>

<!-- description -->
<meta name="description" content="Web Design London, Website Designers, Web Design Company
18c Perseverance Works, 25 Hackney Rd, London E2 7NX,  + 44 (0)20 7033 6924">

<!-- favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 

<!-- meta -->
{% include "shared/meta" %}

<!-- meta -->
{% include "shared/fonts" %}

<!-- stylesheet -->
<link rel="stylesheet" href="/css/style.css">

<!-- modernizer -->
<script src="/js/libs/modernizr-2.5.3.min.js"></script>

</head>
<body>

<!-- //////////////////// -->

<div id ="container" role="main">

<!-- header -->
<header>{% include "shared/header" %}

<!-- navigation -->
<nav><ul>{% for nav in navigation reversed %}
<li><a href ="{{ nav.permalink }}" >{{ nav.name }}</a></li>
{% endfor %}</ul></nav>
</header>


<!-- page -->
<div id="page" class="clearfix">

<!-- hero -->
<section class="hero_block">
<div class="hero_image ">
<img src="{{ image-main[0].path }}" alt="{{ image-main[0].name }}" width="980" height="648" />

<!-- info block -->
<div class="info_block">

<!-- blurb -->
<span class="bubble_red">{{title}}</span>
{% if subtitle %}<h4>{{ subtitle }}</h4>{% endif %}
<p>{{ body }}</p>

<!-- links -->
{% if links %}
<div class="info_block_links">
{% for link in links %}
<a href="{{ link.url }}">{{ link.name }}</a>{% unless forloop.last %}<br>{% endunless %}
{% endfor %}
</div>
{% endif %}

<!-- thumb -->
{% for image in images-infobox-thumb %}<article class="info_block_thumb">
<a href ="#" data-reveal-id="lightbox_{{ forloop.index }}" data-animation="fadeAndPop">
<img src="{{ image.path }}" alt="image.name" width="60px" height="60px" /></a>
</article>{% endfor %}

</div>

<div class="full_grad"></div>
</div>
</section>

<!-- Further content sections -->
{% for year in children %}

<!-- Section header -->
<section class="row clearfix">
<section class="full_content">
<h2 class="bubble_blue_head">{{ year.name }}</h2></section>

<!-- Section content boxes -->
{% for work in year.children %}
<section class="column_four">
<a href="{{ work.permalink }}">
<div class="bubble_block"><span class="bubble_blue">{{ work.title }}</span></div>
<p>{{ work.subtitle }}</p>
</a>
</section>
{% endfor %}

</section>
{% endfor %}

</div>

<!-- footer -->
<footer>{% include "shared/footer" %}</footer>

<!-- spacer -->
<div id="space"></div>

</div>

<!-- //////////////////// -->

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<!-- scripts and plugins -->
<script src="http://www.potterandweb.com/dev/qmedia/js/plugins.js"></script>
<script src="http://www.potterandweb.com/dev/qmedia/js/script.js"></script>

<!-- analytics -->
{% include "shared/google" %}

<!-- chrome frame prompt -->
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>